flows.json
[
    {
        "id": "44a80a185879658e",
        "type": "tab",
        "label": "Projekt12",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "798d55f530f03b10",
        "type": "mqtt in",
        "z": "44a80a185879658e",
        "name": "",
        "topic": "yolo/people_count",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1a91fa0f6087a264",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "f878c15e35f6594d"
            ]
        ]
    },
    {
        "id": "88b3968a7b5cbdd2",
        "type": "api-call-service",
        "z": "44a80a185879658e",
        "name": "",
        "server": "496da4f2.93258c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.druga"
        ],
        "data": "{ \"brightness\": {{ flow.newBrightness }} }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 200,
        "wires": [
            [
                "21f1c445c0f2bba0"
            ]
        ]
    },
    {
        "id": "d161f06e282f99cb",
        "type": "function",
        "z": "44a80a185879658e",
        "name": "function 16",
        "func": "flow.set('newBrightness', Math.round(msg.payload*50));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 200,
        "wires": [
            [
                "88b3968a7b5cbdd2"
            ]
        ]
    },
    {
        "id": "a0c23fdb6f406fa8",
        "type": "inject",
        "z": "44a80a185879658e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "yolo/people_detected",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "f878c15e35f6594d"
            ]
        ]
    },
    {
        "id": "21f1c445c0f2bba0",
        "type": "debug",
        "z": "44a80a185879658e",
        "name": "debug 28",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 200,
        "wires": []
    },
    {
        "id": "f878c15e35f6594d",
        "type": "switch",
        "z": "44a80a185879658e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "250",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "250",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "d161f06e282f99cb"
            ],
            [
                "fcaf6958ec5b0c7e"
            ],
            [
                "fcaf6958ec5b0c7e"
            ]
        ]
    },
    {
        "id": "fcaf6958ec5b0c7e",
        "type": "change",
        "z": "44a80a185879658e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 320,
        "wires": [
            [
                "5b9ec8f2f8e4ce35"
            ]
        ]
    },
    {
        "id": "5b9ec8f2f8e4ce35",
        "type": "trigger",
        "z": "44a80a185879658e",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 320,
        "wires": [
            [
                "f878c15e35f6594d"
            ]
        ]
    },
    {
        "id": "ef0f59ca6761be76",
        "type": "mqtt in",
        "z": "44a80a185879658e",
        "name": "",
        "topic": "yolo/animal_count",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1a91fa0f6087a264",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "edb39f45a95111cb"
            ]
        ]
    },
    {
        "id": "67203b5f8e524602",
        "type": "api-call-service",
        "z": "44a80a185879658e",
        "name": "",
        "server": "496da4f2.93258c",
        "version": 5,
        "debugenabled": false,
        "domain": "light",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.pierwsza"
        ],
        "data": "{ \"brightness\": {{ flow.newBrightnessAnimal }} }",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 950,
        "y": 560,
        "wires": [
            [
                "bcc628b3448ed2c7"
            ]
        ]
    },
    {
        "id": "f0ae2f673464d188",
        "type": "function",
        "z": "44a80a185879658e",
        "name": "function 17",
        "func": "flow.set('newBrightnessAnimal', Math.round(msg.payload*50));\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 560,
        "wires": [
            [
                "67203b5f8e524602"
            ]
        ]
    },
    {
        "id": "314194d9a2058392",
        "type": "inject",
        "z": "44a80a185879658e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "yolo/people_detected",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "edb39f45a95111cb"
            ]
        ]
    },
    {
        "id": "bcc628b3448ed2c7",
        "type": "debug",
        "z": "44a80a185879658e",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 560,
        "wires": []
    },
    {
        "id": "edb39f45a95111cb",
        "type": "switch",
        "z": "44a80a185879658e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "250",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "250",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 530,
        "y": 560,
        "wires": [
            [
                "f0ae2f673464d188"
            ],
            [
                "e80a1f8b28a5cf53"
            ],
            [
                "e80a1f8b28a5cf53"
            ]
        ]
    },
    {
        "id": "e80a1f8b28a5cf53",
        "type": "change",
        "z": "44a80a185879658e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 680,
        "wires": [
            [
                "32bb45cdc7303aae"
            ]
        ]
    },
    {
        "id": "32bb45cdc7303aae",
        "type": "trigger",
        "z": "44a80a185879658e",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "0",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 680,
        "wires": [
            [
                "edb39f45a95111cb"
            ]
        ]
    },
    {
        "id": "1a91fa0f6087a264",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "496da4f2.93258c",
        "type": "server",
        "name": "Home Assistant",
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "",
        "connectionDelay": false,
        "cacheJson": false,
        "heartbeat": false,
        "heartbeatInterval": "",
        "statusSeparator": "",
        "enableGlobalContextStore": false
    }
]